section#modal-skills.modal.modal-skills.page_hidden
    .wrapper
        .modal__action
            button.page__btn.page__btn_circle.page__btn_close.close-modal(data-modal="modal-skills")
        .modal__content
            ul.page__lists
                    li.page__list.page__list_text Адаптивная верстка, даже если не&nbsp;имеете макеты сделаю адаптив&nbsp;по 
                        strong.page_bold методологии responsive;
                    li.page__list.page__list_text Внедрю микроразметку 
                        strong.page_bold schema.org и&nbsp;Open Graph, 
                        | а&nbsp;также семантическую верстку;
                    li.page__list.page__list_text Веду 
                        strong.page_bold компонентный 
                        | подход разработки;
                    li.page__list.page__list_text Произвожу оптимизацию кода и&nbsp;изображенией, перед сдачей проекта смотрю на&nbsp;показатели 
                        strong.page_bold Google Pagespeed.
                    li.page__list.page__list_text Разрабатываю исключительно через 
                        strong.page_bold git.
                    li.page__list.page__list_text Использую flexbox и&nbsp;самописную библиотеку mixin's.