section#modal-skills.modal.modal-skills.page_hidden
    .modal-container
        .modal__action
            button.page__btn.page__btn_circle.page__btn_close.close-modal(data-modal="modal-skills")
        .modal__content
            ul.page__lists
                    li.page__list.page__list_text Адаптивная верстка, даже если не&nbsp;имеете макеты сделаю адаптив&nbsp;по 
                        strong.page_bold методологии responsive;
                    li.page__list.page__list_text Внедрю микроразметку 
                        strong.page_bold schema.org и&nbsp;Open Graph, 
                        | а&nbsp;также семантическую верстку;
                    li.page__list.page__list_text Веду 
                        strong.page_bold компонентный 
                        | подход разработки;
                    li.page__list.page__list_text Произвожу оптимизацию кода и&nbsp;изображенией, перед сдачей проекта смотрю на&nbsp;показатели 
                        strong.page_bold Google Pagespeed;
                    li.page__list.page__list_text Разрабатываю исключительно через 
                        strong.page_bold git;
                    li.page__list.page__list_text Использую flexbox и&nbsp;самописную библиотеку mixin's.
                    li.page__list.page__list_text На больших проектах использую делегирование задач через trello
                    li.page__list.page__list_text Работа с фреймворком 
                        strong.page_bold Angular 2+;
                    li.page__list.page__list_text Работа с 
                        strong.page_bold TypeScript, 
                        | понимание типизации;
                    li.page__list.page__list_text Работа с 
                        strong.page_bold JavaScript 
                        | уровень middle(понимание контекст, замыкание, итд);
                    li.page__list.page__list_text Реализация логике на 
                        strong.page_bold JS;
                    li.page__list.page__list_text Работа с 
                        strong.page_bold DOM;
                    li.page__list.page__list_text Применение в работе 
                        strong.page_bold jQuery
                        | (при крайней необходимости);
                    li.page__list.page__list_text Работа с 
                        strong.page_bold npm, yarn, gulp, webpack;
                    li.page__list.page__list_text Применение в работе 
                        strong.page_bold Git, 
                        | Работа по модели Git Flow(Работа с GitHub, GitLab, Bitbucket);
                    li.page__list.page__list_text Навык разработке в команде больше 1-ого года. (Применение review code)
                    li.page__list.page__list_text Работа с 
                        strong.page_bold HTML 5 API;
                    li.page__list.page__list_text Работа с 
                        strong.page_bold CSS 3 
                        | фреймворками 
                        strong.page_bold SmartGrid, bootsrtap 3/4;
                    li.page__list.page__list_text Работа с препроцессорами 
                        strong.page_bold Less, Sass/Scss;
                    li.page__list.page__list_text Написание классов и ведение структры по 
                        strong.page_bold БЭМ 
                        | методологии;
                    li.page__list.page__list_text Понимание модели 
                        strong.page_bold table, block, Inline-block, Flexbox, Grid-system;
                    li.page__list.page__list_text Понимание позиционирования;
                    li.page__list.page__list_text 
                        strong.page_bold Кроссбраузерная вёрстка 
                        | on default;
                    li.page__list.page__list_text Работа с 
                        strong.page_bold CSS animations;
                    li.page__list.page__list_text Работа с CMS: 
                        strong.page_bold 1C Bitrix, Wordpress, MODx;
                    li.page__list.page__list_text Умение брать всю необходимую информацию из макетов от дизайнеров.
                    li.page__list.page__list_text Работа с графическим редактором 
                        strong.page_bold Photoshop, Figma, Zeplin.
                    li.page__list.page__list_text Базовые знания 
                        strong.page_bold SEO (в разработке).
                    li.page__list.page__list_text Настройка 
                        strong.page_bold Yandex.Metrika Google.Analytics;
                    li.page__list.page__list_text Навык делегирование задач;
                    li.page__list.page__list_text Навык декомпозиции задач;
                    li.page__list.page__list_text Работа с task manager: 
                        strong.page_bold JIRA, trello, bitrix24.
                    li.page__list.page__list_text 
                        strong.page_bold Здравая 
                        | оценка сроков;
