section.banner.isAnimate
    canvas.canvas
    .banner__logo
        .page__subtitle Ilia
            span.page_bold Gromov
        .page__img
            img(src="assets/img/img-frontend-developer.png")
    a(href="#skills").page__icon_mouse-down