header.header
    .wrapper
        .header-content
            nav.header__navbar
                a.header__navbar-link.page__subtitle(href="./") Ilia
                    span.page_bold Gromov
                .header__navbar-link
                    a(href="#skills") Навыки 
                .header__navbar-link
                    a(href="./projects/projects.html") Проекты
                .header__navbar-link
                    a(href="#about") Обо мне 