section.services
    include mixins/mixin-page-title
    +page-title("Услуги")
    .wrapper
        .services-content
            include mixins/mixin-service
            +service("assets/img/shared/img-Email.png", "E-mail письма", "Делаю верстку e-mail письм как для уведомления пользователя от Вашего сайта, так и для рассылки УТП")
            +service("assets/img/shared/img-landing.png", "Landing page", "Одностраничный сайт Лендинг. Создание страницы, которая призывает пользователя к действию. ")
            +service("assets/img/shared/img-pages.png", "Многостраничный сайт", "Многостраничный сайт. Создание сайта с более сложной структурой: несколькими страницами, которые объединены меню или другими блоками с ссылками")
            +service("assets/img/shared/img-shop.png", "Интернет магазин", "Интернет-магазин. Создание сайта для продажи товаров с платежной системой, корзиной и уведомлением продавца и покупателя о заказе.")
            +service("assets/img/shared/img-quiz.png", "Quiz сайт", "Квиз сайт — это вариант сайта, где основной функционал строится на основе теста или опроса для вовлечения посетителей. Так посетители охотнее превращаются в потенциальных клиентов. Статистика подтверждает, что конструктор quiz помогает увеличить конверсию любого сайта до 20-40 процентов, против обычных 2-5 для стандартных сайтов и лендингов.")
            +service("assets/img/shared/img-completion.png", "Доработка", "Могу делать доработки на уже готовом сайте")
            +service("assets/img/shared/img-cms.png", "Интеграция", "Произвожу интеграцию кода на панель администратора WordPress Bitrix modX")
            +service("assets/img/shared/img-script.png", "Написание скриптов", "Написание скриптов реализация логики ")